<div class="container mt-5">
  <div class="col-5 d-flex justify-content-evenly">

    <button type="button" class="btn btn-outline-primary" routerLink="hola" routerLinkActive="btn-primary">Hola M.</button>
    <button type="button" class="btn btn-outline-primary" routerLink="edutin" routerLinkActive="btn-primary">Edutin A.</button>
    <button type="button" class="btn btn-outline-primary" routerLink="acercade" routerLinkActive="btn-primary">Acerca de.</button>
  
  </div>
  <router-outlet></router-outlet>
</div>


